*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body{
    display: flex;
    flex-direction: column;
}

p{
    font-size: 20px;
    color: white;
}

.subs{
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sub1{
    background-image: url('../assets/img/pic1.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub1 .title{
    font-size: 200px;
    margin-top: 40%;
    color: #f4c00a;
}

.sub1 .subtitle{
    font-size: 40px;
    margin: 60px;
    color: white;
}

.arrow-icon{
    width: 90px;
    height: auto;
    filter: drop-shadow(5px 5px 15px rgba(255, 255, 255, 0.3));
}

.sub2{
    background-image: url('../assets/img/pic2.jpg');
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-ques{
    margin: 60px;
}

.left-ques p{
    font-size: 60px;
    color: #f4c00a;
}

.right-desc{
    margin: 60px;
}

.right-desc *{
    margin: 20px;
}

.read-more-btn, .submit-btn{
    border: 1px solid #f4c00a;
    border-radius: 5px;
    background-color: #f4c00a;
    color: black;
    padding: 10px 20px;
    font-size: 20px;
}

.sub3{
    background-image: url('../assets/img/pic3.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
}

.sub3 .title{
    margin-bottom: 40px;
    font-size: 45px;
    color: #f4c00a;
}

.sub3 .locations{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sub3 .locations > *{
    margin: 25px;
    width: 250px;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
}

.sub3 .locations p{
    margin: 20px;
    margin-bottom: 5px;
}

.sub3 .locations .arrow-icon{
    margin-left: 20px;
    margin-bottom: 15px;
    width: 40px;
    height: auto;
}

.breck{
    background-image: url('../assets/img/breckenridge.jpg');
}

.rockymtn{
    background-image: url('../assets/img/rockymtn.jpg');
}

.steamboat{
    background-image: url('../assets/img/steamboat.jpg');
}

.sub3 .read-more-btn{
    margin-top: 40px;
}

.sub4{
    background-image: url('../assets/img/pic4.jpg');
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sub4 .subtitle{
    font-size: 30px;
}

.sub5{
    background-image: url('../assets/img/pic5.jpg');
}

.circles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 150px 150px;
}

.circles >*{
    height: 150px;
    width: 150px;
    background-color: black;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circles .num{
    color: #f4c00a;
    font-size: 50px;
}

.circles .words{
    font-size: 15px;
    margin-top: 15px;
}

.sub6{
    background-image: url('../assets/img/pic6.jpg');
}

.review{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px;
}

.review img{
    border-radius: 50%;
}

.review p{
    margin: 40px 200px;
    text-align: center;
}

.gallery{
    display: flex;
    flex-direction: row;
}

.gallery img{
    width: 25%;
    height: auto;
}

.sub7{
    background-image: url('../assets/img/pic11.jpg');
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact-info{
    display: flex;
    flex-direction: column;
    margin: 150px 0px;
    margin-left: 150px;
    align-items: flex-start;
}

.contact-info >*{
    margin: 5px 0;
}

.contact-info .title{
    color:#f4c00a;
    font-size: 80px;
    margin-bottom: 20px;
}

.contact-btns{
    margin-top: 40px;
}

.contact-btns >*{
    margin: 10px;
}

.fbbtn{
    margin-left: 0;
}

.sub7 img {
    width: 50px;
    height: auto;
}

.contact-form{
    display: flex;
    flex-direction: column;
    margin-right:150px;
    align-items: flex-start;
}

.contact-form >*{
    margin: 10px;
}

.contact-form input{
    width: 400px;
    height: 30px;
    background: transparent;
    border: 2px solid lightgray;
    border-radius: 3px;
    color: lightgray;
    padding: 10px;
}

.contact-form input::placeholder{
    color: lightgray;
}

.message-box input{
    height: 80px;
}