*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body{
    display: flex;
    flex-direction: column;
}

p{
    font-size: 20px;
    color: white;
}

.subs{
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sub1{
    background-image: url('../assets/img/pic1.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub1 .title{
    font-size: 200px;
    margin-top: 25%;
    color: #f4c00a;
}

.sub1 .subtitle{
    font-size: 40px;
    margin: 60px;
    color: white;
}

.arrow-icon{
    width: 90px;
    height: auto;
    margin: 40px;
    transition-duration: 250ms;
}

.arrow-icon:hover{
    width: 100px;
    height: auto;
    margin: 35px;
}

.sub1 .arrow-icon, .sub6 .arrow-icon{
    animation: bounce 6s infinite;
}

.sub2{
    background-image: url('../assets/img/pic2.jpg');
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-ques{
    margin: 60px;
    width: 50%;
}

.left-ques p{
    font-size: 90px;
    color: #f4c00a;
}

.right-desc{
    margin: 60px;
    width: 50%;
}

.right-desc *{
    margin: 20px;
}

.read-more-btn, .submit-btn{
    border: 1px solid #f4c00a;
    border-radius: 5px;
    background-color: #f4c00a;
    color: black;
    padding: 10px 20px;
    font-size: 20px;
    transition-duration: 225ms;
}

.read-more-btn:hover, .submit-btn:hover{
    padding: 11px 21px;
    background-color: lightgray;
    border: 1px solid lightgray;
}

.sub3{
    background-image: url('../assets/img/pic3.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
}

.sub3 .title{
    margin-bottom: 40px;
    font-size: 45px;
    color: #f4c00a;
}

.sub3 .locations{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sub3 .locations > *{
    margin: 25px;
    width: 350px;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    transition-duration: 225ms;
    transition-timing-function: ease-in-out;
    transition-delay: 25ms;
}

.sub3 .locations > *:hover{
    width: 400px;
    height: 550px;
    margin: 0px 25px;
}

.sub3 .locations p{
    margin: 20px;
    margin-bottom: 5px;
}

.sub3 .locations .arrow-icon{
    margin-left: 20px;
    margin-bottom: 15px;
    width: 40px;
    height: auto;
}

.breck{
    background-image: url('../assets/img/breckenridge.jpg');
}

.rockymtn{
    background-image: url('../assets/img/rockymtn.jpg');
}

.steamboat{
    background-image: url('../assets/img/steamboat.jpg');
}

.sub3 .read-more-btn{
    margin-top: 40px;
}

.sub4{
    background-image: url('../assets/img/pic4.jpg');
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sub4 .subtitle{
    font-size: 30px;
}

.sub5{
    background-image: url('../assets/img/pic5.jpg');
}

.circles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 150px 5%;
}

.circles >*{
    height: 300px;
    width: 300px;
    background-color: black;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-duration: 225ms;
    transition-delay: 25ms;
}

.circles >*:hover{
    height: 350px;
    width: 350px;

}

.circles .num{
    color: #f4c00a;
    font-size: 100px;
}

.circles .words{
    font-size: 30px;
    margin-top: 20px;
}

.sub6{
    background-image: url('../assets/img/pic6.jpg');
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.review{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px;
    width: 65%;
}

.review .portrait{
    border-radius: 50%;
}

.review p{
    margin: 40px 200px;
    text-align: center;
}

.gallery{
    display: flex;
    flex-direction: row;
}

.gallery img{
    width: 25%;
    height: auto;
}

.sub7{
    background-image: url('../assets/img/pic11.jpg');
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact-info{
    display: flex;
    flex-direction: column;
    margin: 150px 0px;
    margin-left: 150px;
    align-items: flex-start;
    width: 50%;
}

.contact-info >*{
    margin: 5px 0;
}

.contact-info .title{
    color:#f4c00a;
    font-size: 80px;
    margin-bottom: 20px;
}

.contact-btns{
    margin-top: 40px;
}

.contact-btns >*{
    margin: 10px;
}

.contact-btns img:hover{
    opacity: 50%;
}

.fbbtn{
    margin-left: 0;
}

.sub7 img {
    width: 50px;
    height: auto;
}

.contact-form{
    display: flex;
    flex-direction: column;
    margin-right:150px;
    align-items: flex-start;
    width: 50%;
}

.contact-form >*{
    margin: 10px;
}

.contact-form input{
    width: 80%;
    height: 30px;
    background: transparent;
    border: 2px solid lightgray;
    border-radius: 3px;
    color: lightgray;
    padding: 10px;
}

.contact-form input::placeholder{
    color: lightgray;
}

.message-box{
    width: 80%;
}

.message-box input{
    height: 80px;
    width: 100%;
}

@keyframes bounce {
    0%, 14%, 28%{
        transform: translateY(0);
    }
    7% {
        transform: translateY(10px);
    }
    21% {
        transform: translateY(10px);
    }
}